<!-- msgs sent, senders, stats, top closers -->
<div class="row">

  <!-- left column -->
  <div class="col-md-6">
    <!-- msgs sent -->
    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <div class="MetricsEvol" data-data-source="releases"
               data-metrics="releases_modules"
               data-min="true" style="height:160px;"
               data-frame-time="true"></div>
          <div class="MicrodashText" data-metric="releases_modules"></div>
        </div>
      </div>
    </div>
    <!-- end msgs sent -->

    <!-- senders -->
    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <div class="MetricsEvol" data-data-source="releases"
               data-metrics="releases_authors"
               data-min="true" style="height:120px;"
               data-frame-time="true"></div>
          <div class="MicrodashText"
               data-data-source="releases" data-metric="releases_authors"></div>
        </div>
      </div>
    </div>
    <!-- end senders -->

    <!-- time to attention -->
    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <div class="MetricsEvol" data-data-source="releases"
               data-metrics="releases_releases"
               data-min="true"
               style="height:120px;"
               data-frame-time="true"></div>
          <div class="MicrodashText"
               data-metric="releases_releases"></div>

        </div>
      </div>
    </div>
    <!-- end time to attention -->

  </div>
  <!-- end left column -->

  <!-- right column -->

  <div class="col-md-6">    
    <div class="panel panel-default">
      <div class="panel-body">
        
	<div class="row">
          <div class="col-md-12">
	    <p class="section-title"><i class="fa fa-umbrella"></i> Forge releases</p>
	  </div>
        </div>
        
        <div class="row">
	  <div class="col-md-12">
            <table class="table">
              <tr>
                <td>
                  <span class="GlobalData" data-data-source="releases"
                        data-field="releases_modules"></span>
                </td>
                <td>
                  Modules
                </td>
                <td>
                  <span class="GlobalData" data-data-source="releases"
                        data-field="releases_authors"></span>
                </td>
                <td>Module authors</td>
              </tr>
	      <tr>
                <td>
                  <span class="GlobalData" data-data-source="releases"
                        data-field="releases_modules_30"></span>                                		
                </td>
                <td>Modules updated during last month</td>
                <td>
                  <span class="GlobalData" data-data-source="releases"
                        data-field="releases_authors_30"></span>
                </td>
                <td>Module authors active during last month</td>
              </tr>                               
            </table>
          </div>
        </div>
      </div>
      
      <div class="panel-body">
        <!-- top senders -->
        <div class="Top" data-data-source="releases" data-period_all="true"
             data-metric="authors" data-limit="10"
             data-people_links="false" ></div>
        <!-- end senders-->
      </div>
    </div>

  </div>
  <!-- end right column -->
  
</div>
<!-- end msgs sent, senders, stats, top closers -->


